*{
    font-family: "Montserrat", Helvetica, sans-serif;
    
    a{
        text-decoration: none;
        color: black;
        
    }
    
    
}
body, main,html{
    padding:0px;
    margin: 0px;
    border:0px
}

#global_header{
   
    

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        img{
        width: 5rem;
        }
        gap: 2rem;
        

        ul{
            display: flex;
            list-style:none;
            gap: 1rem;
            
            li{
                font-size: x-large;
                a{
                    font-size:x-large ;
                }
            }


        }
        
        
    }
}





footer{
   background-color: #252525;
   color:white;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   
   

   a{
    color: white;
   }

    ul{
        list-style: none;
        padding: 0px;
    }

    #land{
        min-width: 100%;
        
        img{
            width: 3rem;
            
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            
            li{
                display: flex;
                align-items: center;
            }

         
        
        }
    }

    #sosiale_medier, #betalingsmetoder{
        width: 100%;
        ul{
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        padding: 0px;
        }

        i{
            font-size: x-large;
        }
    }

    #nyheter_og_tilbud{
        
       
        form{
            max-width: 60%;
            padding: 0.7rem;
            padding-bottom:1rem ;
           
            margin-bottom:1rem ;
           
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.3rem;
            border: 1px solid white;

            label{
                margin-bottom: 1.2rem;
                
            }

            input{
                border-radius:5px;
                border:none;
                padding: 0.4rem;
            }

            button{
                background-color:#ffcf40;
                border-radius:5px;
                border:none;
                padding: 0.3rem;
                font-weight: 800;
            }

        }


    }





  




    
}

#forside{
    margin: 2rem;

    header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        
        

        #banner{
           
          
        }

        #search_form{
            grid-row: 2/4;
            margin:1rem ;
            
            background-color: white;
            border-radius: 5px;
            box-shadow:#e8e8e8 0px 3px 8px;

            
            ul{
                list-style:none;
                display: flex;
            }
            
            form{
                
            

                select, input{
                    height: 2.5rem;
                    background-color: white;
                    border:1px solid gray;
                    
                }
                
                
    
                #reise_til,#reise_fra, #antall_reisende{
                    width: 100%;
                    height: 2rem;
                    background-color: white;
                    border:1px solid gray;
                }
    
                #sok{
                    background-color: #ffcf40;
                    border: none;
                    border-radius: 5px;
                   
                }
        
            }   
        }
        
    }


    #kampanje{
        display: flex;
        flex-wrap: wrap;
        
        align-content: center;
        
        
        background-image: url('../bilder/holiday-2733322_1280.jpg');
        background-size:500px 320px ;
        background-repeat: no-repeat;
        height: 20rem;
        border-radius: 10px;
        margin:block;

        ul{
            background-color:#1ca2c1;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-bottom: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
            text-align: left;
            width: 80%;
            height: 55%;
            
            list-style: none;

            
                #kampanje_pris{
                    font-size: xx-large;
                    font-weight: 1000;
                }
            


        }

        a{
            color: black;
            background-color: #ffcf40;
            border-radius: 5px;
            font-size: medium;
            font-weight: 1000;
            padding: 0.6rem;
            margin-left: 17.3rem;
            
        }
    }


    
    article{
        padding-bottom:1rem;
        box-shadow:#e8e8e8 0px 3px 8px;
        
        border-radius: 10px;
        margin-bottom: 3rem;

        img{
            width: 100%;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
        }

        h3,p,a{
           padding: 0.5rem;
           margin:0px;
        }

        a{
            padding-bottom:0.9rem ;
            box-shadow: #1ca2c1 0px 3px ;
            border-bottom-left-radius:2px ;
        }

        h4{
            color: #f6f5f2 ;
            background-color: #1ca2c1 ;
            width: fit-content;
            height: auto;
            padding: 0.8rem;
            margin:0px;
            position: relative;
            
            top: -14.8rem;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 20px;
        }
    }



}